.expenseTrackerWrapper {
  width: 70%;
  max-width: 1200px;
  height: 100vh;
  min-height: auto;
  display: flex;
  flex-direction: column;
}

.expenseTrackerHeader {
  font-size: var(--text-base);
}

.newExpenseForm {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: space-between;

  align-content: start;
  background-color: var(--light-blue-400);
  padding: var(--space-md);
}
.inputsContainer {
  display: flex;
  height: 100%;
  width: 80%;
}

.inputPairContainer {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
  align-items: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-xs);
  height: 50px;
  width: 150px;
}

.formGroup input,
.formGroup select {
  min-height: 32px;
  padding-left: var(--space-xs);
}

.formGroup p {
  color: red;
  flex-grow: 1;
}
.formToolsContainer {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.addButton {
  margin-top: var(--space-md);
  height: 32px;
  width: 100px;
}

.expenseList {
  list-style: none;
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  padding-top: var(--space-sm);
  gap: var(--space-sm);
}
.expenseListHeading {
  font-size: var(--text-base);
}

@media screen and (max-width: 480px) {
  .expenseTrackerWrapper {
    width: 100%;
  }

  .newExpenseForm {
    height: 200px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  .expenseTrackerWrapper {
    width: 80%;
  }
}

@media screen and (max-width: 1051px) {
  .expenseTrackerWrapper {
    width: 90%;
  }
}

@media screen and (max-width: 891px) {
  .newExpenseForm {
    height: 200px;
  }
  .inputsContainer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 531px) {
  .newExpenseForm {
    height: 250px;
    flex-direction: column;
  }
  .inputsContainer {
    width: 100%;
    height: 70%;
  }
  .formToolsContainer {
    width: 100%;
    height: 30%;
  }
}

@media screen and (max-width: 384px) {
  .formGroup {
    width: 125px;
  }
}
