.expenseItem {
  width: 100%;
  height: 125px;
  display: flex;
  position: relative;
  background-color: var(--light-blue-100);
}
.createdDate {
  position: absolute;
  top: 8px;
  left: var(--space-lg);
  font-size: 0.85rem;
  color: var(--text-secondary);
  background-color: var(--light-blue-400);
  border-radius: 8px;
  padding: 0 var(--space-md);
}
.editFormErrorMessage {
  position: absolute;
  right: var(--space-md);
  top: 8px;
  color: red;
}

.expenseDetails,
.editForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  align-content: start;

  padding: var(--space-md);
}

.editInputsContainer,
.detailsContainer {
  display: flex;
  height: 100%;
  width: 80%;
}

.editInputPair,
.detailsPair {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
  align-items: center;
}

.formGroup,
.detailItem {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 150px;
}

.formGroup input,
.formGroup select {
  min-height: 32px;
  padding-left: var(--space-xs);
}

.formGroup p {
  color: red;
}

.formActions,
.itemActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
  width: 20%;
  height: 100%;
}

.editButton,
.deleteButton,
.editformSubmitButton,
.cancelButton {
  width: 100px;
  height: 32px;
}

.editButton {
  background-color: var(--light-blue-300);
}
.deleteButton {
  background-color: var(--button-delete);
}

.editformSubmitButton {
  background-color: var(--light-blue-300);
}
.cancelButton {
  background-color: var(--light-blue-200);
}

.deleteConfirmWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.deleteConfirmContainer {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue-600);
  text-align: center;
  color: var(--text-secondary);
  gap: var(--space-sm);
}

.confirmDeleteToolsContainer {
  display: flex;
  gap: var(--space-md);
}

.confirmDeleteToolsContainer button {
  width: 100px;
  height: 32px;
}

@media screen and (max-width: 891px) {
  .expenseItem {
    height: 180px;
  }
  .editInputsContainer,
  .detailsContainer {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 531px) {
  .expenseItem {
    height: 250px;
  }

  .expenseDetails,
  .editForm {
    flex-direction: column;
  }

  .editInputsContainer,
  .detailsContainer {
    width: 100%;
    height: 70%;
  }
  .formActions,
  .itemActions {
    flex-direction: row;
    width: 100%;
    height: 30%;
  }
}

@media screen and (max-width: 384px) {
  .expenseItem {
    min-height: 250px;
  }
  .formGroup,
  .detailItem {
    width: 125px;
  }
}
