.filterWrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-md);
}

.monthSelectorContainer,
.yearSelectorContainer {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}

.monthSelectorContainer select,
.yearSelectorContainer select {
  height: 32px;
}
